<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLCBVTBeZ6uAZ9ssPArC8CaZggIj6CK2k</string>
	<key>GCM_SENDER_ID</key>
	<string>562079004596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.module16</string>
	<key>PROJECT_ID</key>
	<string>ostad-94a28</string>
	<key>STORAGE_BUCKET</key>
	<string>ostad-94a28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562079004596:ios:8700f93cba55133f6fe4e1</string>
</dict>
</plist>